<h1> Sign UP !!
    </h1>


    <form action="/user/create" method="post">
        <input type="text" name ="Name" placeholder="Your Name" required>
        <input type = "email" name="Email" placeholder="Your Email" required >
        <input type="password" name ="Password" placeholder="Password" required>
        <input type="password" name ="Confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">

    </form>